In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [18]:
drive.mount("/gdrive", force_remount=True)

Mounted at /gdrive

In [4]:
!ls /gdrive/MyDrive/FDBMS_EndTerm_Project/

'2017-2022 Twitter all_quotes retweets Amber Heard Timeline_Data.csv'   FDBMS

In [5]:
path = "/gdrive/MyDrive/FDBMS_EndTerm_Project/"
os.chdir(path)
os.listdir()

['FDBMS',
 '2017-2022 Twitter all_quotes retweets Amber Heard Timeline_Data.csv']

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
df = pd.read_csv("2017-2022 Twitter all_quotes retweets Amber Heard Timeline_Data.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (57,58,59,60) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
df.head()

,referenced_tweets,id,source,lang,created_at,text,author_id,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,...,quoted_tweet.in_reply_to_user_id,quoted_tweet.referenced_tweets,quoted_tweet.entities.mentions,entities.hashtags,quoted_tweet.entities.hashtags,quoted_tweet,entities.cashtags,withheld.copyright,withheld.country_codes,author.withheld.country_codes
0,"[{'type': 'retweeted', 'id': '1037814165899898...",1038621977060102144,Twitter for Android,es,2018-09-09T02:55:50.000Z,RT @ElDementeParke1: Te hablan @CharlySegura11...,917961197093249024,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[{'type': 'quoted', 'id': '1000512130645479426'}]",1037814165899898880,Twitter for Android,es,2018-09-06T21:25:53.000Z,Te hablan @CharlySegura11 :v https://t.co/V42t...,1016719618730123264,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[{'type': 'quoted', 'id': '1000512130645479426'}]",1000806111132372992,Twitter for Android,en,2018-05-27T18:29:05.000Z,May God will repay for what u doin sisðŸ˜š https:...,2997247166,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[{'type': 'quoted', 'id': '1000512130645479426'}]",1000535526947147777,Twitter Web App,en,2018-05-27T00:33:53.000Z,Amber Heard is a good person for helping a chi...,915680816415559680,0,0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[{'type': 'quoted', 'id': '1000512130645479426'}]",1000523760129241089,Twitter for iPhone,und,2018-05-26T23:47:07.000Z,@JaredEng !!!! https://t.co/gUjSpFtTrx,99407275,0,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105414 entries, 0 to 105413
Data columns (total 61 columns):
 #   Column                                              Non-Null Count   Dtype
---  ------                                              --------------   -----
 0   referenced_tweets                                   104625 non-null  object
 1   id                                                  105414 non-null  int64
 2   source                                              105414 non-null  object
 3   lang                                                105414 non-null  object
 4   created_at                                          105414 non-null  object
 5   text                                                105414 non-null  object
 6   author_id                                           105414 non-null  int64
 7   public_metrics.retweet_count                        105414 non-null  int64
 8   public_metrics.reply_count                          105414 non-null  int64
 9   public_metrics.like_count                           105414 non-null  int64
 10  public_metrics.quote_count                          105414 non-null  int64
 11  entities.urls                                       62834 non-null   object
 12  entities.mentions                                   54149 non-null   object
 13  quoted_tweet.public_metrics.retweet_count           105121 non-null  float64
 14  quoted_tweet.public_metrics.reply_count             105121 non-null  float64
 15  quoted_tweet.public_metrics.like_count              105121 non-null  float64
 16  quoted_tweet.public_metrics.quote_count             105121 non-null  float64
 17  quoted_tweet.id                                     105121 non-null  float64
 18  quoted_tweet.source                                 105121 non-null  object
 19  quoted_tweet.lang                                   105121 non-null  object
 20  quoted_tweet.entities.urls                          93239 non-null   object
 21  quoted_tweet.entities.annotations                   19751 non-null   object
 22  quoted_tweet.created_at                             105121 non-null  object
 23  quoted_tweet.text                                   105121 non-null  object
 24  quoted_tweet.author_id                              105121 non-null  float64
 25  quoted_tweet.author.description                     105121 non-null  object
 26  quoted_tweet.author.profile_image_url               105121 non-null  object
 27  quoted_tweet.author.id                              105121 non-null  float64
 28  quoted_tweet.author.name                            105121 non-null  object
 29  quoted_tweet.author.public_metrics.followers_count  105121 non-null  float64
 30  quoted_tweet.author.public_metrics.following_count  105121 non-null  float64
 31  quoted_tweet.author.public_metrics.tweet_count      105121 non-null  float64
 32  quoted_tweet.author.public_metrics.listed_count     105121 non-null  float64
 33  quoted_tweet.author.username                        105121 non-null  object
 34  quoted_tweet.author.created_at                      105121 non-null  object
 35  quoted_tweet.author.location                        105121 non-null  object
 36  quoted_tweet.author.url                             105121 non-null  object
 37  author.description                                  93944 non-null   object
 38  author.profile_image_url                            105402 non-null  object
 39  author.id                                           105414 non-null  int64
 40  author.name                                         105397 non-null  object
 41  author.public_metrics.followers_count               105414 non-null  int64
 42  author.public_metrics.following_count               105414 non-null  int64
 43  author.public_metrics.tweet_count                   105414 non-null  int64
 44  author.public_metrics.listed_count                  105414 non-null  int64
 45  author.username                                     105414 non-null  object
 46  author.created_at                                   105414 non-null  object
 47  author.location                                     68262 non-null   object
 48  author.url                                          27600 non-null   object
 49  entities.annotations                                24387 non-null   object
 50  in_reply_to_user_id                                 1204 non-null    float64
 51  quoted_tweet.in_reply_to_user_id                    11546 non-null   float64
 52  quoted_tweet.referenced_tweets                      14043 non-null   object
 53  quoted_tweet.entities.mentions                      24105 non-null   object
 54  entities.hashtags                                   10794 non-null   object
 55  quoted_tweet.entities.hashtags                      33186 non-null   object
 56  quoted_tweet                                        0 non-null       float64
 57  entities.cashtags                                   19 non-null      object
 58  withheld.copyright                                  2 non-null       object
 59  withheld.country_codes                              2 non-null       object
 60  author.withheld.country_codes                       1 non-null       object
dtypes: float64(14), int64(11), object(36)
memory usage: 49.1+ MB

In [9]:
df = pd.read_csv("2017-2022 Twitter all_quotes retweets Amber Heard Timeline_Data.csv",
                 usecols = ["referenced_tweets", "id", "text", "public_metrics.retweet_count","public_metrics.reply_count","quoted_tweet.public_metrics.like_count","quoted_tweet.public_metrics.quote_count","quoted_tweet.id", "quoted_tweet.author.name", "author.id","author.name","author.public_metrics.followers_count","author.public_metrics.followers_count","author.username","author.created_at","entities.hashtags", "author.url"])

In [10]:
df.head()
df.tail()
df.shape

,referenced_tweets,id,text,public_metrics.retweet_count,public_metrics.reply_count,quoted_tweet.public_metrics.like_count,quoted_tweet.public_metrics.quote_count,quoted_tweet.id,quoted_tweet.author.name,author.id,author.name,author.public_metrics.followers_count,author.username,author.created_at,author.url,entities.hashtags
0,"[{'type': 'retweeted', 'id': '1037814165899898...",1038621977060102144,RT @ElDementeParke1: Te hablan @CharlySegura11...,1,0,890.0,5.0,1.000512e+18,Amber Heard,917961197093249024,Charly Segura,45,CharlySegura11,2017-10-11T03:52:59.000Z,https://t.co/zmFDmc84hL,NaN
1,"[{'type': 'quoted', 'id': '1000512130645479426'}]",1037814165899898880,Te hablan @CharlySegura11 :v https://t.co/V42t...,1,0,890.0,5.0,1.000512e+18,Amber Heard,1016719618730123264,DMG,11,31416_dmg,2018-07-10T16:23:41.000Z,https://t.co/4Ur7hd41DF,NaN
2,"[{'type': 'quoted', 'id': '1000512130645479426'}]",1000806111132372992,May God will repay for what u doin sisðŸ˜š https:...,0,0,890.0,5.0,1.000512e+18,Amber Heard,2997247166,Frank RahimSon,195,FrankRahimson,2015-01-26T15:33:30.000Z,https://t.co/SY7Hfv1qre,NaN
3,"[{'type': 'quoted', 'id': '1000512130645479426'}]",1000535526947147777,Amber Heard is a good person for helping a chi...,0,0,890.0,5.0,1.000512e+18,Amber Heard,915680816415559680,Kevin #BatmanFan,40,HenryAff17,2017-10-04T20:51:33.000Z,NaN,NaN
4,"[{'type': 'quoted', 'id': '1000512130645479426'}]",1000523760129241089,@JaredEng !!!! https://t.co/gUjSpFtTrx,0,0,890.0,5.0,1.000512e+18,Amber Heard,99407275,Norman D. Golden ll,4529,NormanGoldenll,2009-12-26T02:47:11.000Z,NaN,NaN

,referenced_tweets,id,text,public_metrics.retweet_count,public_metrics.reply_count,quoted_tweet.public_metrics.like_count,quoted_tweet.public_metrics.quote_count,quoted_tweet.id,quoted_tweet.author.name,author.id,author.name,author.public_metrics.followers_count,author.username,author.created_at,author.url,entities.hashtags
105409,"[{'type': 'quoted', 'id': '997577587361746945'}]",997578122273828865,Yeeeessss Quuuuueennnn!!! https://t.co/EvZpLV503G,0,0,2001.0,31.0,9.975776e+17,Amber Heard,146042717,klik kanan lalu copy.,186,Hamli_Ji,2010-05-20T13:25:40.000Z,NaN,NaN
105410,"[{'type': 'quoted', 'id': '997577587361746945'}]",997577627907969024,"Looking for business card and, Flyer, Print De...",0,0,2001.0,31.0,9.975776e+17,Amber Heard,995868808324702208,Design,16,Design24577205,2018-05-14T03:30:01.000Z,https://t.co/usAg11bXZk,NaN
105411,"[{'type': 'quoted', 'id': '999735992604024833'}]",999824563755147264,Even a dollar helps. Please help save this chi...,0,0,567.0,6.0,9.997360e+17,Amber Heard,174571891,sonia hawks ðŸš€,2089,sonia_hawkss,2010-08-04T07:28:44.000Z,https://t.co/7Yjtqulz7P,NaN
105412,"[{'type': 'quoted', 'id': '999735992604024833'}]",999794008032333824,Hoping to spread the word for this anyway I ca...,0,0,567.0,6.0,9.997360e+17,Amber Heard,41126083,Nick Astrinakis,203,SalvationWriter,2009-05-19T14:31:17.000Z,http://t.co/fMJ6asZdOo,NaN
105413,NaN,999785231044501504,AMBER T ES UNE FEMME EXTRAORDINAIRE https://t....,0,0,567.0,6.0,9.997360e+17,Amber Heard,827604575465197573,tayab nacer eddine,30,TayabNacer,2017-02-03T19:48:01.000Z,NaN,NaN

(105414, 16)

In [11]:
df.dtypes

referenced_tweets                           object
id                                           int64
text                                        object
public_metrics.retweet_count                 int64
public_metrics.reply_count                   int64
quoted_tweet.public_metrics.like_count     float64
quoted_tweet.public_metrics.quote_count    float64
quoted_tweet.id                            float64
quoted_tweet.author.name                    object
author.id                                    int64
author.name                                 object
author.public_metrics.followers_count        int64
author.username                             object
author.created_at                           object
author.url                                  object
entities.hashtags                           object
dtype: object

In [12]:
df.isnull().sum()

referenced_tweets                            789
id                                             0
text                                           0
public_metrics.retweet_count                   0
public_metrics.reply_count                     0
quoted_tweet.public_metrics.like_count       293
quoted_tweet.public_metrics.quote_count      293
quoted_tweet.id                              293
quoted_tweet.author.name                     293
author.id                                      0
author.name                                   17
author.public_metrics.followers_count          0
author.username                                0
author.created_at                              0
author.url                                 77814
entities.hashtags                          94620
dtype: int64

In [13]:
df['quoted_tweet.public_metrics.like_count'].fillna(df['quoted_tweet.public_metrics.like_count'].mean(), inplace=True)
df['quoted_tweet.public_metrics.quote_count'].fillna(df['quoted_tweet.public_metrics.quote_count'].mean(), inplace=True)

In [14]:
df['author.url'].fillna("Not Known", inplace=True)
df['entities.hashtags'].fillna("Not Known", inplace=True)

In [15]:
df.isnull().sum()

referenced_tweets                          789
id                                           0
text                                         0
public_metrics.retweet_count                 0
public_metrics.reply_count                   0
quoted_tweet.public_metrics.like_count       0
quoted_tweet.public_metrics.quote_count      0
quoted_tweet.id                            293
quoted_tweet.author.name                   293
author.id                                    0
author.name                                 17
author.public_metrics.followers_count        0
author.username                              0
author.created_at                            0
author.url                                   0
entities.hashtags                            0
dtype: int64

In [16]:
df.dropna(inplace=True)

In [17]:
df['author.created_at']

0         2017-10-11T03:52:59.000Z
1         2018-07-10T16:23:41.000Z
2         2015-01-26T15:33:30.000Z
3         2017-10-04T20:51:33.000Z
4         2009-12-26T02:47:11.000Z
                    ...
105408    2015-06-11T11:13:23.000Z
105409    2010-05-20T13:25:40.000Z
105410    2018-05-14T03:30:01.000Z
105411    2010-08-04T07:28:44.000Z
105412    2009-05-19T14:31:17.000Z
Name: author.created_at, Length: 104316, dtype: object

In [18]:
df['date'] = pd. to_datetime(df['author.created_at'])

In [19]:
df['date']

0        2017-10-11 03:52:59+00:00
1        2018-07-10 16:23:41+00:00
2        2015-01-26 15:33:30+00:00
3        2017-10-04 20:51:33+00:00
4        2009-12-26 02:47:11+00:00
                    ...
105408   2015-06-11 11:13:23+00:00
105409   2010-05-20 13:25:40+00:00
105410   2018-05-14 03:30:01+00:00
105411   2010-08-04 07:28:44+00:00
105412   2009-05-19 14:31:17+00:00
Name: date, Length: 104316, dtype: datetime64[ns, UTC]

In [20]:
df['year'] = pd.DatetimeIndex(df['date']).year

In [21]:
dfsample = df.loc[df['year'] == 2020, :]

In [22]:
u_user = dfsample['author.id'].unique()

In [23]:
u_user.sort()
u_code = ["u" + str(i) for i in range(len(u_user)) ]
u_code[:5]

['u0', 'u1', 'u2', 'u3', 'u4']

In [24]:
map_dict = dict(zip(u_user, u_code))

In [25]:

list(map_dict.items())[:5]

[(1212172349824360448, 'u0'),
 (1212189014217744389, 'u1'),
 (1212198841027416064, 'u2'),
 (1212215887203205120, 'u3'),
 (1212236798149029888, 'u4')]

In [26]:
dfsample["author.id"] = dfsample["author.id"].replace(map_dict, inplace= False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [27]:
dfsample.head()

,referenced_tweets,id,text,public_metrics.retweet_count,public_metrics.reply_count,quoted_tweet.public_metrics.like_count,quoted_tweet.public_metrics.quote_count,quoted_tweet.id,quoted_tweet.author.name,author.id,author.name,author.public_metrics.followers_count,author.username,author.created_at,author.url,entities.hashtags,date,year
972,"[{'type': 'retweeted', 'id': '1321709676749357...",1321723122479886336,RT @Gwennafran: I. Hate. This. POS. #AmberHear...,1,0,258.0,5.0,1.045786e+18,Amber Heard,u4665,Jacinta ðŸ”ª,197,JEMSB0ND,2020-10-08T01:31:49.000Z,Not Known,"[{'start': 36, 'end': 57, 'tag': 'AmberHeardIs...",2020-10-08 01:31:49+00:00,2020
1648,"[{'type': 'retweeted', 'id': '1340240700991025...",1340365198578888712,RT @BraveMoonGirl1: Aren't you a priviliged wh...,1,0,2176.0,90.0,1.047700e+18,Amber Heard,u3851,Bazarette74,48,bazarette74,2020-08-19T19:23:20.000Z,Not Known,Not Known,2020-08-19 19:23:20+00:00,2020
1653,"[{'type': 'retweeted', 'id': '1290737044784926...",1290744097154662400,RT @BTSfamlove: It has been incredibly painful...,1,0,2176.0,90.0,1.047700e+18,Amber Heard,u866,valery,10,valery60550075,2020-03-01T11:10:58.000Z,Not Known,Not Known,2020-03-01 11:10:58+00:00,2020
1668,"[{'type': 'retweeted', 'id': '1265292568855752...",1265293623119294465,RT @curiosvty: Tweeted day after Johnny Depp's...,15,0,2176.0,90.0,1.047700e+18,Amber Heard,u1287,carpe,4051,salveogvm,2020-03-28T15:59:50.000Z,Not Known,Not Known,2020-03-28 15:59:50+00:00,2020
1671,"[{'type': 'quoted', 'id': '1047700300063236097'}]",1265292568855752709,Tweeted day after Johnny Depp's GQ magazine co...,15,4,2176.0,90.0,1.047700e+18,Amber Heard,u1345,epiphany,1234,jacxpearl,2020-03-31T19:31:59.000Z,Not Known,Not Known,2020-03-31 19:31:59+00:00,2020

In [28]:
dfsample['quoted_tweet.id'].value_counts()

1.436734e+18    1511
1.403445e+18    1095
1.421567e+18     987
1.375919e+18     567
1.375540e+18     448
                ...
1.184697e+18       1
1.185768e+18       1
1.188029e+18       1
1.189283e+18       1
1.045786e+18       1
Name: quoted_tweet.id, Length: 298, dtype: int64

In [29]:
quotedId = dfsample['quoted_tweet.id'].unique()

In [30]:
quotedId.sort()

In [31]:
quoted_c = ["qID" + str(i) for i in range(len(quotedId)) ]
map_dic2 = dict(zip(quotedId, quoted_c))

In [32]:
dfsample['quoted_tweet.id'] = dfsample['quoted_tweet.id'].replace(map_dic2, inplace= False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [33]:
dfsample.shape

(14673, 18)

In [34]:
dfsample.head()

,referenced_tweets,id,text,public_metrics.retweet_count,public_metrics.reply_count,quoted_tweet.public_metrics.like_count,quoted_tweet.public_metrics.quote_count,quoted_tweet.id,quoted_tweet.author.name,author.id,author.name,author.public_metrics.followers_count,author.username,author.created_at,author.url,entities.hashtags,date,year
972,"[{'type': 'retweeted', 'id': '1321709676749357...",1321723122479886336,RT @Gwennafran: I. Hate. This. POS. #AmberHear...,1,0,258.0,5.0,qID6,Amber Heard,u4665,Jacinta ðŸ”ª,197,JEMSB0ND,2020-10-08T01:31:49.000Z,Not Known,"[{'start': 36, 'end': 57, 'tag': 'AmberHeardIs...",2020-10-08 01:31:49+00:00,2020
1648,"[{'type': 'retweeted', 'id': '1340240700991025...",1340365198578888712,RT @BraveMoonGirl1: Aren't you a priviliged wh...,1,0,2176.0,90.0,qID7,Amber Heard,u3851,Bazarette74,48,bazarette74,2020-08-19T19:23:20.000Z,Not Known,Not Known,2020-08-19 19:23:20+00:00,2020
1653,"[{'type': 'retweeted', 'id': '1290737044784926...",1290744097154662400,RT @BTSfamlove: It has been incredibly painful...,1,0,2176.0,90.0,qID7,Amber Heard,u866,valery,10,valery60550075,2020-03-01T11:10:58.000Z,Not Known,Not Known,2020-03-01 11:10:58+00:00,2020
1668,"[{'type': 'retweeted', 'id': '1265292568855752...",1265293623119294465,RT @curiosvty: Tweeted day after Johnny Depp's...,15,0,2176.0,90.0,qID7,Amber Heard,u1287,carpe,4051,salveogvm,2020-03-28T15:59:50.000Z,Not Known,Not Known,2020-03-28 15:59:50+00:00,2020
1671,"[{'type': 'quoted', 'id': '1047700300063236097'}]",1265292568855752709,Tweeted day after Johnny Depp's GQ magazine co...,15,4,2176.0,90.0,qID7,Amber Heard,u1345,epiphany,1234,jacxpearl,2020-03-31T19:31:59.000Z,Not Known,Not Known,2020-03-31 19:31:59+00:00,2020

In [36]:
df['public_metrics.retweet_count'].value_counts()

0       42593
1        8320
2        3973
4072     3507
2995     2641
        ...
63         45
82         45
83         45
363        43
48         40
Name: public_metrics.retweet_count, Length: 138, dtype: int64

User Nodes

In [35]:
grpd_user = dfsample.groupby(['author.id'])
user_nodes = grpd_user.agg({'public_metrics.retweet_count' : [('u_min','min'),('u_max','max'),('u_mean','mean'),('u_std',np.std)] }).reset_index()
user_nodes = user_nodes.round(decimals = 2)
user_nodes.head()

  author.id public_metrics.retweet_count
                                   u_min u_max u_mean u_std
0        u0                            0     0   0.00   NaN
1        u1                            0     1   0.02  0.13
2       u10                            0     0   0.00   NaN
3      u100                            0     0   0.00   NaN
4     u1000                            0     0   0.00   NaN

In [53]:
dfsample['is_retweeted'] = np.where(dfsample['public_metrics.retweet_count'] != 0, True, False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [54]:
user_nodes['Cat'] = 'Twitter_User'

In [56]:
user_nodes['is_retweet'] = dfsample['is_retweeted']
users_retweet = dfsample.loc[dfsample["is_retweeted"] == 1, 'author.id' ].unique()
len(users_retweet)

3654

In [65]:
user_nodes['retweet'] = dfsample.loc[dfsample["is_retweeted"] , 'author.id' ]

In [66]:
user_nodes['Label'] = user_nodes['author.id']

In [67]:
user_nodes = user_nodes.rename(columns = {'User': "Id"})

In [68]:
user_nodes.head()

  author.id public_metrics.retweet_count                              Cat  \
                                   u_min u_max u_mean u_std
0        u0                            0     0   0.00   NaN  Twitter_User
1        u1                            0     1   0.02  0.13  Twitter_User
2       u10                            0     0   0.00   NaN  Twitter_User
3      u100                            0     0   0.00   NaN  Twitter_User
4     u1000                            0     0   0.00   NaN  Twitter_User

  is_retweet  Label retweet

0        NaN     u0     NaN
1        NaN     u1     NaN
2        NaN    u10     NaN
3        NaN   u100     NaN
4        NaN  u1000     NaN

In [69]:
user_nodes['is_retweet'] = user_nodes['is_retweet'].map({"True":1 , "False" : 0})

In [70]:
user_nodes.head()

  author.id public_metrics.retweet_count                              Cat  \
                                   u_min u_max u_mean u_std
0        u0                            0     0   0.00   NaN  Twitter_User
1        u1                            0     1   0.02  0.13  Twitter_User
2       u10                            0     0   0.00   NaN  Twitter_User
3      u100                            0     0   0.00   NaN  Twitter_User
4     u1000                            0     0   0.00   NaN  Twitter_User

  is_retweet  Label retweet

0        NaN     u0     NaN
1        NaN     u1     NaN
2        NaN    u10     NaN
3        NaN   u100     NaN
4        NaN  u1000     NaN

In [72]:
user_nodes.to_csv("Twitter_users.csv",
                  index = False,
                  sep = ";"
                  )

Quoted ID

In [47]:
grpd_quoted = dfsample.groupby(['quoted_tweet.id'])
grpd_quoted = grpd_quoted.agg({'public_metrics.retweet_count' : [('q_min','min'),('q_max','max'),('q_mean','mean'),('q_std',np.std)] }).reset_index()
grpd_quoted = grpd_quoted.round(2)
grpd_quoted.head()
grpd_quoted.shape

  quoted_tweet.id public_metrics.retweet_count
                                         q_min q_max q_mean q_std
0            qID0                            0     0   0.00   NaN
1            qID1                            0     0   0.00   NaN
2           qID10                            0     0   0.00  0.00
3          qID100                            0     9   2.07  3.39
4          qID101                            0     8   0.67  1.92

(298, 5)

In [48]:
grpd_quoted['Cat'] = 'quoted_tweet'

In [73]:
grpd_quoted['retweet'] = dfsample.loc[dfsample["is_retweeted"] , 'quoted_tweet.id' ]

In [74]:
grpd_quoted['Label'] = grpd_quoted['quoted_tweet.id']
grpd_quoted = grpd_quoted.rename(columns = {'Merchant Name': "Id"})
grpd_quoted.head()
grpd_quoted.shape

  quoted_tweet.id public_metrics.retweet_count                     \
                                         q_min q_max q_mean q_std
0            qID0                            0     0   0.00   NaN
1            qID1                            0     0   0.00   NaN
2           qID10                            0     0   0.00  0.00
3          qID100                            0     9   2.07  3.39
4          qID101                            0     8   0.67  1.92

            Cat is_retweeted   Label retweet

0  quoted_tweet         True    qID0     NaN
1  quoted_tweet         True    qID1     NaN
2  quoted_tweet        False   qID10     NaN
3  quoted_tweet        False  qID100     NaN
4  quoted_tweet        False  qID101     NaN

(298, 9)

In [75]:
grpd_quoted['is_retweeted'] = grpd_quoted['is_retweeted'].map({True:1 , False : 0})

In [76]:
grpd_quoted.to_csv("Quoted_Tweets.csv",
                      index = False,
                      sep = ";")

Edges

In [77]:
edges = dfsample.groupby([dfsample['author.id'], dfsample['quoted_tweet.id']]).size()

In [78]:
edges = dfsample[['author.id', 'quoted_tweet.id']].groupby(['author.id', 'quoted_tweet.id']).size().reset_index()
edges = edges.rename(columns = { 0 : "weight"})
edges.head()

  author.id quoted_tweet.id  weight
0        u0          qID250       1
1        u1          qID126       2
2        u1          qID130       2
3        u1          qID135       1
4        u1          qID141       1

In [79]:
edges = edges.rename(columns = {'author.id': 'Source', 'quoted_tweet.id': 'Target'})

In [80]:
edges['Type']= 'Undirected'
edges.head()

  Source  Target  weight        Type
0     u0  qID250       1  Undirected
1     u1  qID126       2  Undirected
2     u1  qID130       2  Undirected
3     u1  qID135       1  Undirected
4     u1  qID141       1  Undirected

In [81]:
edges.to_csv("twitter_edges.csv",
             index = False,
             sep = ";"
             )